<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>TWITTER CLONE API</h1>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="">Introduction</a>
            </li>
            <li class="nav-item">
                <a href="">Base URL</a>
            </li>
            <li class="nav-item">
                <a href="">Authentification</a>
            </li>
            <li class="nav-item">
                <a href="">Ressources</a>
            </li>
        </ul>
    </nav>
    <main>
        <section id="introduction">
            <h2>Twitter Clone API </h2>
            <p>
                L'API de ce projet est une application web qui permet de récuperer tous les tweets et profils
                d'utilisateurs. Il a été créé principalement pour le projet <a href="https://github.com/LeonardoRubuz/Project-07-Twitter-Clone-LeonardoRubuz" target="_blank" style="color:#0033a0">Twitter Clone</a>. 
                Les utilisateurs pourront se servir de ces ressources via des requêtes HTTP.  
            </p>
            <p>
                Pour signaler un problème, contribuer ou  simplement recréer le projet, rendez vous sur le repo : <br>
                <a href="https://github.com/LeonardoRubuz/twitter-clone-api.git" style="color:#0033a0">
                    https://github.com/LeonardoRubuz/twitter-clone-api
                </a>
            </p><br>
            <p>
                Les requêtes peuvent être effectuées grâce à la commande  <code style="color: red;">curl</code>  de 
                l'invite de commande (terminal) ou via tout autre utilitaire tierce permettant les appels REST (ex: Postman, Swagger, ...). <br>
                Voici un exemple de profiles enregistrés : <br><br>
                <code style="text-align: center;">
                    curl https://twitter-clone-api-hy1e.onrender.com/profiles
                </code>
            </p>
            <p>Appeler cette ressource renverra l'objet suivant :</p>
            <pre>
                <code>
                [
                    {
                        "image": "/images/tweet-profile-photo.png",
                        "accountName": "CNN",
                        "username": "CNN",
                        "bio": "It's our job to #GoThere & tell the most difficult stories. For breaking news, follow @CNNBRK and download our app.cnn.com/apps",
                        "links": {
                        "location": "",
                        "website": "cnn.com"
                        },
                        "join_date": "2007",
                        "following": 1086,
                        "followers": 6000000,
                        "id": "cbc1"
                    },
                    {
                        "image": "/images/ny-times.png",
                        "accountName": "The New York Times",
                        "username": "nytimes",
                        "bio": "News tips? Share them here: http://nyti.ms/2FVHq9v",
                        "links": {
                        "location": "New York City, USA",
                        "website": "nytimes.com"
                        },
                        "join_date": "2007",
                        "following": 876,
                        "followers": 55100000,
                        "id": "37a9"
                    },
                    {
                        "image": "/images/twitter.png",
                        "accountName": "Twitter",
                        "username": "twitter",
                        "bio": "what's happening!?",
                        "links": {
                        "location": "everywhere",
                        "website": "about.x.com"
                        },
                        "join_date": "2007",
                        "following": 0,
                        "followers": 6730000,
                        "id": "dee3"
                    },
                    {
                        "image": "/images/profile-photo.png",
                        "accountName": "Leonardo",
                        "username": "rbmachine",
                        "bio": "hey",
                        "links": {},
                        "join_date": "2017",
                        "following": 130,
                        "followers": 27,
                        "id": "0d5f"
                    }
                ]
                </code>
            </pre>

        </section>
        <section id="base-url">
            <h2>URL de Base</h2>
            <div></div>
        </section>
        <section id="auth">
            <h2>Authentification</h2>
            <div></div>
        </section>
        <section id="endpoints">
            <h2>Ressources</h2>
            <div></div>
        </section>
    </main>
</body>
</html>